/* General rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  list-style: none;
  text-decoration: none;
}

  /* Font color */
  .pink {
    color: #f9245c;
  }
  .blue {
    color: #7a89ab;
  }
  .white {
    color: white;
  }

  h2 {
    color: white;
    font-size: 48px;
  }

  h3 {
    font-size: 28px;
  }

  /* Cursor pointer */
  #nav > img:hover, #nav div > i:hover, .portfolio:hover, #w-work:hover, #foot li, .article:hover, #articles h3:hover, form > button:hover{
    cursor: pointer;
  }

/* Header */
header {
  background-image: url('../img/banner_images.jpg');
  background-size: 100vw auto;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
}

/* Nav bar */
#nav {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 25px 50px 45px;
  position: fixed;
  z-index: 99;
}
  #nav > img {
    max-height: 100%;
  }
  #nav > div {
    display: flex;
    align-items: center;
  }
    #nav div > i {
      font-size: 25px;
      margin: 0 30px 30px 0;
      background-color: rgba(0, 0, 0, 0);
    }
    #nav div > i:hover {
      color: #f9245c;
    }
    .fa-times, .fa-bars {
      display: none;
    }
  .active {
    background-color: #20232c;
  }

/* Burger menu */
.burgermenu {
  position: fixed;
  top: 120px;
  left: 0;
  display: none;
  width: 100%;
  height: calc(100vh - 120px);
  background-color: #20232c;
  padding: 50px 0;
  z-index: 99;
}
  .burgermenu.active, .fa-times.active, .fa-bars.active {
    display: block;
  }
  .burgermenu > ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .burgermenu li > a {
    color: white;
    font-size: 40px;
  }
  .burgermenu li > a:hover {
    color: #f9245c;
  }

/* Jumbotron */
#jumbo {
  width: 100%;
  height: calc(754px - 120px);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
  #jumbo > h1 {
    font-size: 140px;
  }

/* Main */
main > div {
  text-align: center;
}
/* About me */
#about {
  padding: 130px 130px 0;
  background-color: #20232c;
}
  #about > div {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
  }
  #about div > p {
    width: calc((100% / 2) - 20px);
    margin: 10px;
  }

/* Why work with me */
#why {
  background-color: #191d26;
  padding: 130px 130px 0;
}

/* Recent work */
#r-work {
  background-color: #97c376;
  padding: 130px;
}

/* Products */
#products {
  width: 100%;
  height: calc(607px * 3);
  display: flex;
  flex-wrap: wrap;
}
  .portfolio {
    max-width: calc(100% / 2);
    height: 607px;
    position: relative;

  }
  .portfolio > img {
    max-width: 100%;
  }
  .portfolio:hover .overlay {
    opacity: 1;
  }
  .overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    background: rgba(249, 36, 92, 0.9);
    width: 100%;
    height: calc(100% + 1px);
    transition: .3s ease;
    opacity: 0;
    font-size: 20px;
  }
    .overlay > p {
      color: white;
    }

/* View all work */
#w-work {
  background-color: #f9245c;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  #w-work > p {
    color: white;
  }
  #w-work:hover {
    background-color: white;
  }
  #w-work:hover p {
    color: #f9245c;
  }

/* Cit */
#cit {
  height: 100vh;
  background-image: url('../img/testimonial_bkgd.jpg');
  color: white;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
  #cit div > div {
    width: 100%;
    padding: 0 100px;
    display: flex;
    justify-content: space-around;
  }
  #cit div > p {
    color: white;
  }
  #cit h1 {
    font-size: 100px;
  }

/* Expert design advice */
#e-advice {
  background-color: #4c629e;
  padding: 130px;
}

/* Articles */
#articles {
  width: 100%;
  display: flex;
  background-color: #191d26;
}
  #articles > div {
    width: calc(100% / 3);
    text-align: left;
  }
  #articles div > div:last-child{
    padding: 20px;
  }
  #articles img {
    max-width: 100%;
  }
    .article {
      width: 100%;
      height: 337px;
      position: relative;
    }
    .article:hover .overlay {
      opacity: 1;
    }
  #articles h3:hover{
    color: white;
  }

/* Lets work together */
#work-form{
  background-color: #ececec;
  color: black;
  padding: 130px;
}
  #work-form > h2 {
    color: black;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
    form > * {
      height: 60px;
      width: 560px;
      margin-top: 30px;
      border: none;
      padding-left: 10px;
    }
    form > button {
      background-color: #f9245c;
      font-size: 18px;
    }
    form > button:hover {
      background-color: white;
      color: #f9245c;
    }

/* Footer */
footer {
  background-color: #191d26;
  text-align: center;
  padding: 100px 0 50px;
}
  #foot > div {
    margin: 35px 0 25px;
  }
    #foot div span > a {
      color: white;
    }
  footer nav > ul {
    display: flex;
    justify-content: center;
  }
  #foot li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 5px;
    height: 36px;
    width: 36px;
  }
  #foot li:hover {
    background-color: #d9d9d9;
  }
  #foot li > a {
    color: #191d26;
    font-size: 20px;
  }
