/* General rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  list-style: none;
  text-decoration: none;
}

  .active {
    background-color: #222229;
  }

  h2 {
    color: white;
    font-size: 48px;
  }

  /* Cursor pointer */
  #nav > img:hover, #nav div > i:hover, .portfolio:hover, #w-work:hover{
    cursor: pointer;
  }

/* Header */
header {
  background-image: url('../img/banner_images.jpg');
  background-size: 100vw auto;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
}

/* Nav bar */
#nav {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 25px 50px 45px;
  position: fixed;
  z-index: 99;
}
  #nav > img {
    max-height: 100%;
  }
  #nav > div {
    display: flex;
    align-items: center;
  }
    #nav div > i {
      font-size: 25px;
      margin: 0 30px 30px 0;
      background-color: rgba(0, 0, 0, 0);
    }
    #nav div > i:hover {
      color: #f9245c;
    }
    .fa-times, .fa-bars {
      display: none;
    }

/* Burger menu */
.burgermenu {
  position: fixed;
  top: 120px;
  left: 0;
  display: none;
  width: 100%;
  height: calc(100vh - 120px);
  background-color: #222229;
  padding: 50px 0;
  z-index: 99;
}
  .burgermenu.active, .fa-times.active, .fa-bars.active {
    display: block;
  }
  .burgermenu > ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .burgermenu li > a {
    color: white;
    font-size: 40px;
  }
  .burgermenu li > a:hover {
    color: #f9245c;
  }

/* Jumbotron */
#jumbo {
  width: 100%;
  height: calc(754px - 120px);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;

}
  #jumbo > h1 {
    color: #f9245c;
    font-size: 140px;
  }

/* Main */
main {
  position: relative;
  z-index: 98;
}
main > div {
  text-align: center;
}
  main div > p {
    color: #7a89ab;
  }
/* About me */
#about {
  background-color: #222229;
}

/* Why work with me */
#why {
  background-color: #191d26;
}

/* Recent work */
#r-work {
  background-color: #97c376;
}

/* Products */
#products {
  width: 100%;
  height: calc(607px * 3);
  display: flex;
  flex-wrap: wrap;
}
  .portfolio {
    max-width: calc(100% / 2);
    height: 607px;
    position: relative;

  }
  .portfolio > img {
    max-width: 100%;
  }
  .portfolio:hover .overlay {
    opacity: 1;
  }
  .overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    background: rgba(249, 36, 92, 0.9);
    width: 100%;
    height: 608px;
    transition: .3s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
  }

/* View all work */
#w-work {
  background-color: #f9245c;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  #w-work > p {
    color: white;
  }
  #w-work:hover {
    background-color: white;
    color: #f9245c;
  }

/* Cit */
#cit {
  height: 100vh;
  background-image: url('../img/testimonial_bkgd.jpg');
  color: white;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
  #cit div > div {
    width: 100%;
    padding: 0 100px;
    display: flex;
    justify-content: space-around;
  }
  #cit div > p {
    color: white;
  }
  #cit h1 {
    color: #f9245c;
    font-size: 100px;
  }

/* Expert design advice */
#e-advice {
  background-color: #4c629e;
}

/* Articles */
#articles {
  width: 100%;
  display: flex;
  background-color: #191d26;
}
  #articles > div {
    width: calc(100% / 3);
    text-align: left;
  }
  #articles img {
    max-width: 100%;

  }

/* Lets work together */
#work-form{
  background-color: #ececec;
  color: black;
}
  #work-form > h2 {
    color: black;
  }

/* Footer */
footer {
  height: 300px;
  background-color: #222229;
  text-align: center;
}
