<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Link google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <!-- link fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <!-- Link css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Link Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title></title>
  </head>
  <body>
    <header>
      <!-- Nav bar -->
      <div id="head">
        <div id="nav" :class="{active : menu}">
          <img src="img/av-freelance-logo-retina.png" alt="">
          <div class="">
            <i class="fas fa-plus"></i>
            <i class="fas fa-bars" :class="{active : openMenu}" @click="shMenu"></i>
            <i class="fas fa-times" :class="{active : menu}" @click="shMenu"></i>
          </div>
        </div>
        <!-- Burger Menu -->
        <div class="burgermenu" :class="{active : menu}">
          <ul>
            <li v-for="(link, index) in links"><a href="#">{{link}}</a></li>
          </ul>
        </div>
      </div>
      <!-- Jumbotron -->
      <div id="jumbo">
        <span class="space">AVADA FREELANCE</span>
        <h1 class="pink">Art Director</h1>
        <p class="blue space small">IF IT DOESN'T CHALLENGE YOU, IT DOESN'T CHANGE YOU</p>
      </div>
    </header>
    <main>
      <!-- About me -->
      <div id="about">
        <h2>About Me</h2>
        <p class="blue space">UI & UX EXPERT</p>
        <div class="bar"></div>
        <div class="blue small lineH">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.</p>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
      </div>
      <!-- Why work with me -->
      <div id="why">
        <h2>Why Work With Me</h2>
        <p class="blue space">WEB - BRANDING UX/UI</p>
        <div class="bar"></div>
        <p class="blue small lineH">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla.</p>
        <!-- Circles -->
        <div class="container">
          <div class="">
            <img src="img/circle1.jpg" alt="">
            <p class="white space small">WEB DESIGN</p>
          </div>
          <div class="">
            <img src="img/circle2.jpg" alt="">
            <p class="white space small">BRANDING</p>
          </div>
          <div class="">
            <img src="img/circle3.jpg" alt="">
            <p class="white space small">UI / UX</p>
          </div>
        </div>
      </div>
      <!-- Recent work -->
      <div id="r-work">
        <h2>Recent Work</h2>
        <p class="white space">WEB - BRANDING UX/UI</p>
        <div class="bar"></div>
      </div>
      <!-- Products -->
      <div id="products">
        <div class="portfolio">
          <img src="img/portfolio1_featured_item.jpg" alt="">
          <div class="overlay">
            <p>FLAT PICTURE FRAME</p>
          </div>
        </div>
        <div class="portfolio">
          <img src="img/portfolio5_featured_item.jpg" alt="">
          <div class="overlay">
            <p>A BAG FOR LIFE</p>
          </div>
        </div>
        <div class="portfolio">
          <img src="img/portfolio4_featured_item.jpg" alt="">
          <div class="overlay">
            <p>BEYOND LABELS</p>
          </div>
        </div>
        <div class="portfolio">
          <img src="img/portfolio3_featured_item.jpg" alt="">
          <div class="overlay">
            <p>AND THE AMPERSAND</p>
          </div>
        </div>
        <div class="portfolio">
          <img src="img/portfolio2_featured_item.jpg" alt="">
          <div class="overlay">
            <p>RUNNING MAN</p>
          </div>
        </div>
        <div class="portfolio">
          <img src="img/portfolio6_featured_item.jpg" alt="">
          <div class="overlay">
            <p>THE NOTEBOOK</p>
          </div>
        </div>
      </div>
      <!-- View all work -->
      <div id="w-work">
        <p class="space">VIEW ALL WORK</p>
      </div>
      <!-- Quote -->
      <div id="cit">
        <div class="">
          <img src="img/quotes-1.png" alt="">
          <p>“I think if you do something and it turns out pretty good, then you should go do something else wonderful, not dwell on it for too long. Just figure out what’s next.”</p>
          <h4>STEVE JOBS - APPLE</h4>
          <i class="fas fa-circle small"></i>
          <i class="far fa-circle small"></i>
        </div>
        <!-- Brands -->
        <div class="">
          <p class="space">TRUSTED BY GLOBAL BRANDS</p>
          <div class="">
            <img src="img/logo_demo_1.png" alt="">
            <img src="img/logo_demo4.png" alt="">
            <img src="img/Vector_Smart_Object-1.png" alt="">
            <img src="img/Vector_Smart_Object-2.png" alt="">
            <img src="img/Vector_Smart_Object-3.png" alt="">
          </div>
        </div>
      </div>
      <!-- Expert design advice -->
      <div id="e-advice">
        <h2>Expert Design Advice</h2>
        <p class="white space">TRENDING DESIGN NEWS</p>
        <div class="bar"></div>
      </div>
      <!-- Articles -->
      <div id="articles">
        <div class="">
          <div class="article">
            <img src="img/blog3-featured.jpg" alt="">
            <div class="overlay">
              <p>Live The Design Process</p>
            </div>
          </div>
          <div class="lineH">
            <h3 class="pink spaceS">Live The Design Process</h3>
            <p class="blue small">What's to come next? Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
          </div>
        </div>
        <div class="">
          <div class="article">
            <img src="img/blog2-featured.jpg" alt="">
            <div class="overlay">
              <p>What’s Next of the App Store?</p>
            </div>
          </div>
          <div class="lineH">
            <h3 class="pink spaceS">What’s Next of the App Store?</h3>
            <p class="blue small">What's to come next? Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
          </div>
        </div>
        <div class="">
          <div class="article">
            <img src="img/blog1-featured.jpg" alt="">
            <div class="overlay">
              <p>The Humble Wooden Desk</p>
            </div>
          </div>
          <div class="lineH">
            <h3 class="pink spaceS">The Humble Wooden Desk</h3>
            <p class="blue small">What's to come next? Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
          </div>
        </div>
      </div>
      <!-- Lets work together -->
      <div id="work-form">
        <h2>Let's Work Together</h2>
        <p class="space small">TELL ME MORE ABOUT YOUR PROJECT</p>
        <div class="bar"></div>
        <p class="small lineH">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        <form class="" action="index.html" method="post">
          <input type="text" name="" value="" placeholder="NAME*">
          <input type="text" name="" value="" placeholder="EMAIL*">
          <input type="text" name="" value="" placeholder="PHONE">
          <button type="button" name="button" class="white space">LET'S TALK</button>
        </form>
      </div>
    </main>
    <!-- Footer -->
    <footer>
      <div id="foot">
        <img src="img/avada-footer-logo.png" alt="">
        <div class="blue small">
          <span>&#169; Copyright 2012 - 2020 | </span>
          <span>Avada Theme by <a href="#">Theme Fusion</a> | </span>
          <span>All Rights Reserved | </span>
          <span>Powered by <a href="#">Wordpress</a></span>
        </div>
        <nav>
          <ul>
            <li v-for="(social, i) in socials"><a href="#"><i :class="social"></i></a></li>
          </ul>
        </nav>
      </div>
    </footer>
    <!-- Script -->
    <script type="text/javascript" src="js/script.js"></script>
  </body>
</html>
